<a href="https://colab.research.google.com/github/a-forty-two/DFE3/blob/main/dfe_001_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Series and Propagation 
# 1 2 3 4 5 ? = 6 -> ARITHMETIC 
# 2 4 8 16 32 ? = 64-> Geometric series 
# harmonic series, 
# Temp->
# 10(today) 9(yester) 8 (day-before)
# tomorrow=? 11, day-after=12... 
# 10, 8, 9 , 10, 9, 8

In [1]:
# series generated, transformed, converted to same units!

In [5]:
blah = [10,20,30,40,50]
#
# result = [11,21,31,41,51]
blah2 = []
print(blah2)
for element in blah:
  newresult = element + 1
  blah2.append(newresult)
  print('****')
  print(blah2)

[]
****
[11]
****
[11, 21]
****
[11, 21, 31]
****
[11, 21, 31, 41]
****
[11, 21, 31, 41, 51]

In [7]:
a = [1,2,3,4,5]
result = []
for b in a:
  newresult = b*b
  result.append(newresult)

print(result)

[1, 4, 9, 16, 25]

In [8]:
a= [1,2,3,4,5]

# List COMPREHENSIONS allow US to generate SERIES or create transformations
# on top of series!

result1 = [element+1 for element in a ]
result2 = [element*element for element in a]
print(result1)
print(result2)

[2, 3, 4, 5, 6]
[1, 4, 9, 16, 25]

In [ ]:
mydata = [10,20,30,40,50]
# result = [5,10,15,20,25]